.page-space {
	background-color: #333;
	width: 1000px;
	margin-left: 10%;
	margin-right: 10%;
}

.action-space {
}

.interaction-space {
	left: 0px;
}

.corner-map {
	position: absolute;
	top: 20px;
	left: -5%;
	height: 200px;
	z-index: 10;
}

.screen-image {
	margin-top: -148px; /* 52px - corner-map.height */
	margin-bottom: 17px;
	height: 500px;
	z-index: 5;
	width: 1000px;
	object-fit: cover;
}

.dialog-box {
	background-color: #AAA;
	padding: 10px;
	width: 1000px;
	margin-bottom: 7px;
}

.next-button {
	float: right;
}
