@media (orientation: landscape) {
    img {
        max-width: 75%;
        width: 75%;
    }
}
@media (orientation: portrait) {
    img {
        max-width: 100%;
        width: 100%;
    }
}

body {
    color:yellow;
    background:black;
    text-align:center;
    font-size:150%;
    font-family:arial;
}

a {
    text-decoration: none;
    color:red;
}

a:hover {
    text-decoration: underline;
}

li {
    display: block;
}

.secret {
    display: none;
}

.wow {
    color: #0cf;
}

.offer-style {
    color: #5cf;
    font-style: italic;
}

input {
    margin-left: 10px;
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
span {
    cursor:pointer;
    margin-left: 10px;
    margin-right: 6px;
}